@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&family=Protest+Revolution&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #00ffee;
  color: black;
  
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f;
}
::-webkit-scrollbar-thumb {
  background: #00ffee;
  border-radius: 0px 50px;
}
.description {
  white-space: pre-line;
}
