@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #39ff14;
  color: #050709;
}

/* scrollbar */
::-webkit-scrollbar       { width: 8px; }
::-webkit-scrollbar-track { background: #050709; }
::-webkit-scrollbar-thumb {
  background: #39ff14;
  border-radius: 4px;
}

.description { white-space: pre-line; }